# test scripts directory
# Development scripts
/s
# Certs directory mounted during development
/certs
# Download directory mounted during development
/download
# Development notes
/notes
# Downloaded tar files when updating sources
/tar
